---
http_interactions:
- request:
    method: delete
    uri: https://private-anon-df256c5fb-keboolagooddatawriter.apiary-mock.com/gooddata-writer/filters?name=filter1&writerId=writer1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Storageapi-Token:
      - 123-abcdefghjklmnopqrstuvxyz
  response:
    status:
      code: 202
      message: Accepted
    headers:
      X-Apiary-Ratelimit-Limit:
      - '120'
      X-Apiary-Ratelimit-Remaining:
      - '119'
      Content-Type:
      - application/json
      X-Apiary-Transaction-Id:
      - 558408ba71e7800300d330e1
    body:
      encoding: UTF-8
      string: "{ \n    \"url\": \"https://syrup.keboola.com/queue/jobs/job_id\",\n
        \   \"id\": \"job_id\"\n}"
  recorded_at: Fri, 19 Jun 2015 12:19:07 GMT
- request:
    method: get
    uri: https://private-anon-c1bf53b9c-syrupqueue.apiary-mock.com/queue/jobs/job_id
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Storageapi-Token:
      - 123-abcdefghjklmnopqrstuvxyz
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Apiary-Ratelimit-Limit:
      - '120'
      X-Apiary-Ratelimit-Remaining:
      - '118'
      Content-Type:
      - application/json
      X-Apiary-Transaction-Id:
      - 558408bb5d1fa9030057b8cf
    body:
      encoding: UTF-8
      string: |2-
                {
                    "id": 123456,
                    "runId": "123457",
                    "lockName": "someComponent-123-456",
                    "project": {
                        "id": 123,
                        "name": "Some project"
                    },
                    "token": {
                        "id": 456,
                        "description": "Token Description"
                    },
                    "component": "someComponent",
                    "command": "run",
                    "params": {},
                    "result": {
                        "message": "all is fine"
                    },
                    "status": "success",
                    "process": {
                        "host": "some.hostname.com",
                        "pid": 1234
                    },
                    "createdTime": "2015-03-26T18:40:28+00:00",
                    "startTime": "2015-03-26T18:40:31+00:00",
                    "endTime": "2015-03-26T18:41:15+00:00",
                    "durationSeconds": 44,
                    "waitSeconds": 3
                }
  recorded_at: Fri, 19 Jun 2015 12:19:08 GMT
recorded_with: VCR 2.9.3
