---
http_interactions:
- request:
    method: get
    uri: https://private-anon-df256c5fb-keboolagooddatawriter.apiary-mock.com/gooddata-writer/filters-projects?filter=filter1&writerId=writer1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Storageapi-Token:
      - 123-abcdefghjklmnopqrstuvxyz
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Apiary-Ratelimit-Limit:
      - '120'
      X-Apiary-Ratelimit-Remaining:
      - '119'
      Content-Type:
      - application/json
      X-Apiary-Transaction-Id:
      - 5584064433c2a30300679d62
    body:
      encoding: UTF-8
      string: |-
        {
            "filters": [
                {
                    "uri": "/gdc/md/PID/obj/123",
                    "filter": "filter1",
                    "pid": "PID"
                }
            ],
            "status": "ok",
            "duration": 1.1255049705505
        }
  recorded_at: Fri, 19 Jun 2015 12:08:36 GMT
recorded_with: VCR 2.9.3
