---
http_interactions:
- request:
    method: get
    uri: https://private-anon-c1bf53b9c-syrupqueue.apiary-mock.com/queue/jobs?limit=50&q=%2Bparams.writerId:writerId
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Storageapi-Token:
      - 123-abcdefghjklmnopqrstuvxyz
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Apiary-Ratelimit-Limit:
      - '120'
      X-Apiary-Ratelimit-Remaining:
      - '119'
      Content-Type:
      - application/json
      X-Apiary-Transaction-Id:
      - 55832d30838cf9030098ff65
    body:
      encoding: UTF-8
      string: |2-
            [
                {
                    "id": 123456,
                    "runId": "123457",
                    "lockName": "someComponent-123-456",
                    "project": {
                        "id": 123,
                        "name": "Some project"
                    },
                    "token": {
                        "id": 456,
                        "description": "Token Description"
                    },
                    "component": "someComponent",
                    "command": "run",
                    "params": {},
                    "result": {
                        "message": "all is fine"
                    },
                    "status": "success",
                    "process": {
                        "host": "some.hostname.com",
                        "pid": 1234
                    },
                    "createdTime": "2015-03-26T18:40:28+00:00",
                    "startTime": "2015-03-26T18:40:31+00:00",
                    "endTime": "2015-03-26T18:41:15+00:00",
                    "durationSeconds": 44,
                    "waitSeconds": 3
                }
            ]
  recorded_at: Thu, 18 Jun 2015 20:42:25 GMT
recorded_with: VCR 2.9.3
