---
http_interactions:
- request:
    method: post
    uri: https://private-anon-df256c5fb-keboolagooddatawriter.apiary-mock.com/gooddata-writer/load-data
    body:
      encoding: UTF-8
      string: '{"tables":["out.c-main.products","out.c-main.categories"],"queue":"secondary","writerId":"writer1"}'
    headers:
      X-Storageapi-Token:
      - 123-abcdefghjklmnopqrstuvxyz
      Content-Type:
      - application/octet-stream
  response:
    status:
      code: 202
      message: Accepted
    headers:
      X-Apiary-Ratelimit-Limit:
      - '120'
      X-Apiary-Ratelimit-Remaining:
      - '118'
      Content-Type:
      - application/json
      X-Apiary-Transaction-Id:
      - 55840afb189ce103000dbe5f
    body:
      encoding: UTF-8
      string: "{ \n    \"url\": \"https://syrup.keboola.com/queue/jobs/job_id\",\n
        \   \"id\": \"job_id\"\n}"
  recorded_at: Fri, 19 Jun 2015 12:28:44 GMT
recorded_with: VCR 2.9.3
