---
http_interactions:
- request:
    method: get
    uri: https://private-anon-df256c5fb-keboolagooddatawriter.apiary-mock.com/gooddata-writer/project-users?pid=project1&writerId=writer1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Storageapi-Token:
      - 123-abcdefghjklmnopqrstuvxyz
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Apiary-Ratelimit-Limit:
      - '120'
      X-Apiary-Ratelimit-Remaining:
      - '119'
      Content-Type:
      - application/json
      X-Apiary-Transaction-Id:
      - 5583ee945d1fa90300579259
    body:
      encoding: UTF-8
      string: |-
        { "status": "ok", "duration": 31.54, "users": [
                {
                    "email": "user1@clients.keboola.com",
                    "role": "editor"
                },
                {
                    "email": "user2@clients.keboola.com",
                    "role": "editor"
                }
            ]
        }
  recorded_at: Fri, 19 Jun 2015 10:27:33 GMT
recorded_with: VCR 2.9.3
