---
http_interactions:
- request:
    method: get
    uri: https://private-anon-df256c5fb-keboolagooddatawriter.apiary-mock.com/gooddata-writer/proxy?query=query&writerId=writer1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Storageapi-Token:
      - 123-abcdefghjklmnopqrstuvxyz
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Apiary-Ratelimit-Limit:
      - '120'
      X-Apiary-Ratelimit-Remaining:
      - '118'
      Content-Type:
      - application/json
      X-Apiary-Transaction-Id:
      - 55836483f4167e0300b1975c
    body:
      encoding: UTF-8
      string: |-
        {
            "response": { "foo": "bar" },
            "status": "ok",
            "duration": 7.16
        }
  recorded_at: Fri, 19 Jun 2015 00:38:27 GMT
recorded_with: VCR 2.9.3
