---
http_interactions:
- request:
    method: delete
    uri: https://private-anon-df256c5fb-keboolagooddatawriter.apiary-mock.com/gooddata-writer/project-users?email=user5@clients.keboola.com&pid=qts6zrafhywwj4aafgt48jfwbm4zi5r7&writerId=writer1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Storageapi-Token:
      - 123-abcdefghjklmnopqrstuvxyz
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"id":"job_id","batch":120071782,"job":120071782,"status":"ok","url":"https:\/\/syrup.keboola.com\/gooddata-writer\/batch?writerId=writer1\u0026batchId=120071782"}'
  recorded_at: Fri, 19 Jun 2015 11:01:18 GMT
recorded_with: VCR 2.9.3
