---
http_interactions:
- request:
    method: post
    uri: https://private-anon-df256c5fb-keboolagooddatawriter.apiary-mock.com/gooddata-writer/sync-filters
    body:
      encoding: UTF-8
      string: '{"queue":"secondary","writerId":"writer1"}'
    headers:
      X-Storageapi-Token:
      - 123-abcdefghjklmnopqrstuvxyz
      Content-Type:
      - application/octet-stream
  response:
    status:
      code: 202
      message: Accepted
    headers:
      X-Apiary-Ratelimit-Limit:
      - '120'
      X-Apiary-Ratelimit-Remaining:
      - '119'
      Content-Type:
      - application/json
      X-Apiary-Transaction-Id:
      - 5584098871e7800300d331d6
    body:
      encoding: UTF-8
      string: "{ \n    \"url\": \"https://syrup.keboola.com/queue/jobs/job_id\",\n
        \   \"id\": \"job_id\"\n}"
  recorded_at: Fri, 19 Jun 2015 12:22:33 GMT
recorded_with: VCR 2.9.3
