---
http_interactions:
- request:
    method: get
    uri: https://private-anon-df256c5fb-keboolagooddatawriter.apiary-mock.com/gooddata-writer/tables?writerId=writer1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Storageapi-Token:
      - 123-abcdefghjklmnopqrstuvxyz
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Apiary-Ratelimit-Limit:
      - '120'
      X-Apiary-Ratelimit-Remaining:
      - '119'
      Content-Type:
      - application/json
      X-Apiary-Transaction-Id:
      - 55840cbb33c2a3030067a5ce
    body:
      encoding: UTF-8
      string: "{ \"tables\": [\n        {\n            \"id\": \"out.c-main.categories\",\n
        \           \"bucket\": \"out.c-main\",\n            \"name\": \"Categories\",\n
        \           \"export\": true,\n            \"isExported\": true,\n            \"lastChangeDate\":
        \"2014-07-01T08:17:45+02:00\"\n        },\n        {\n            \"id\":
        \"out.c-main.products\",\n            \"bucket\": \"out.c-main\",\n            \"name\":
        \"Products\",\n            \"export\": true,\n            \"isExported\":
        false,\n            \"lastChangeDate\": \"2014-06-21T02:13:25+02:00\"\n        }\n
        \   ],\n    \"status\": \"ok\", \n    \"duration\": 31.54\n}"
  recorded_at: Fri, 19 Jun 2015 12:36:12 GMT
recorded_with: VCR 2.9.3
