---
http_interactions:
- request:
    method: post
    uri: https://private-anon-df256c5fb-keboolagooddatawriter.apiary-mock.com/gooddata-writer/tables
    body:
      encoding: UTF-8
      string: '{"export":0,"writerId":"writer1","tableId":"out.c-main.categories"}'
    headers:
      X-Storageapi-Token:
      - 123-abcdefghjklmnopqrstuvxyz
      Content-Type:
      - application/octet-stream
  response:
    status:
      code: 202
      message: Accepted
    headers:
      X-Apiary-Ratelimit-Limit:
      - '120'
      X-Apiary-Ratelimit-Remaining:
      - '118'
      Content-Type:
      - application/json
      X-Apiary-Transaction-Id:
      - 55840f3e33c2a3030067a946
    body:
      encoding: UTF-8
      string: "{ \n    \"status\": \"ok\",\n    \"duration\": 35.12 \n}"
  recorded_at: Fri, 19 Jun 2015 12:46:54 GMT
recorded_with: VCR 2.9.3
