---
http_interactions:
- request:
    method: post
    uri: https://private-anon-df256c5fb-keboolagooddatawriter.apiary-mock.com/gooddata-writer/update-model
    body:
      encoding: UTF-8
      string: '{"pid":"project1","writerId":"writer1"}'
    headers:
      X-Storageapi-Token:
      - 123-abcdefghjklmnopqrstuvxyz
      Content-Type:
      - application/octet-stream
  response:
    status:
      code: 202
      message: Accepted
    headers:
      X-Apiary-Ratelimit-Limit:
      - '120'
      X-Apiary-Ratelimit-Remaining:
      - '119'
      Content-Type:
      - application/json
      X-Apiary-Transaction-Id:
      - 5584124a33c2a3030067ad63
    body:
      encoding: UTF-8
      string: "{ \n    \"url\": \"https://syrup.keboola.com/queue/jobs/job_id\",\n
        \   \"id\": \"job_id\"\n}"
  recorded_at: Fri, 19 Jun 2015 12:59:54 GMT
- request:
    method: get
    uri: https://private-anon-c1bf53b9c-syrupqueue.apiary-mock.com/queue/jobs/job_id
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Storageapi-Token:
      - 123-abcdefghjklmnopqrstuvxyz
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Apiary-Ratelimit-Limit:
      - '120'
      X-Apiary-Ratelimit-Remaining:
      - '118'
      Content-Type:
      - application/json
      X-Apiary-Transaction-Id:
      - 5584124b71e7800300d33e06
    body:
      encoding: UTF-8
      string: |2-
                {
                    "id": 123456,
                    "runId": "123457",
                    "lockName": "someComponent-123-456",
                    "project": {
                        "id": 123,
                        "name": "Some project"
                    },
                    "token": {
                        "id": 456,
                        "description": "Token Description"
                    },
                    "component": "someComponent",
                    "command": "run",
                    "params": {},
                    "result": {
                        "message": "all is fine"
                    },
                    "status": "success",
                    "process": {
                        "host": "some.hostname.com",
                        "pid": 1234
                    },
                    "createdTime": "2015-03-26T18:40:28+00:00",
                    "startTime": "2015-03-26T18:40:31+00:00",
                    "endTime": "2015-03-26T18:41:15+00:00",
                    "durationSeconds": 44,
                    "waitSeconds": 3
                }
  recorded_at: Fri, 19 Jun 2015 12:59:56 GMT
recorded_with: VCR 2.9.3
