---
http_interactions:
- request:
    method: post
    uri: https://private-anon-df256c5fb-keboolagooddatawriter.apiary-mock.com/gooddata-writer/upload-table
    body:
      encoding: UTF-8
      string: '{"queue":"secondary","writerId":"writer1","tableId":"out.c-main-products"}'
    headers:
      X-Storageapi-Token:
      - 123-abcdefghjklmnopqrstuvxyz
      Content-Type:
      - application/octet-stream
  response:
    status:
      code: 202
      message: Accepted
    headers:
      X-Apiary-Ratelimit-Limit:
      - '120'
      X-Apiary-Ratelimit-Remaining:
      - '117'
      Content-Type:
      - application/json
      X-Apiary-Transaction-Id:
      - 558410f833c2a3030067ab9c
    body:
      encoding: UTF-8
      string: "{ \n    \"url\": \"https://syrup.keboola.com/queue/jobs/job_id\",\n
        \   \"id\": \"job_id\" \n}"
  recorded_at: Fri, 19 Jun 2015 12:54:17 GMT
recorded_with: VCR 2.9.3
